{{ define "main" }}

  {{ partial "heading.html" . }}

  {{ .Content }}

  <ul class="Tags">

    {{ range .Data.Terms.Alphabetical }}
    <li class="Tags-item u-background">
      <a  class="Tags-link u-clickable" href="{{ .Page.RelPermalink }}"><code>{{ .Page.Title }} ({{ .Count }})</code> </a> 
    </li>
    {{ end }}
  </ul>

{{ end }}
