{{- if or .Params.categories .Params.tags -}}
<footer>
  <ul class="Tags">
    {{- range .Params.categories -}}
      <!-- {{- $url := print "/categories/" ((replace . "#" "%23") | urlize) "/" -}} -->
      <!-- <a class="category" href={{- $url | relLangURL -}}>{{- . -}}</a> -->
      <li class="Tags-item u-background">
        <a class="Tags-link u-clickable" href="{{- $url | relLangURL -}}" rel="category">{{- . -}}</a>
      </li>
    {{- end -}}
    {{- range .Params.tags -}}
      <!-- {{- $url := print "/tags/" ((replace . "#" "%23") | urlize) "/" -}} -->
      <!-- <a class="tag" href={{- $url | relLangURL -}}>{{- . -}}</a> -->
      <li class="Tags-item u-background">
        <a class="Tags-link u-clickable" href="{{- $url | relLangURL -}}" rel="tag"># {{- . -}}</a>
      </li>
    {{- end -}}
  </ul>
</footer>
{{- end -}}